<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


<div class="container">

  <nav class="navbar navbar-expand-lg navbar navbar-light">
      <img src='../assets/undraw_career_progress_ivdb.svg' width=700px>
     <br>

    <a class="navbar-brand white h1 " style="font-size: 20pt; color: tomato" href="#"><i></i>Job<span style="color:#fff3bc ; ">cute</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <form class="form-inline ">
        <input class="form-control" name="scraper" type="search" placeholder="Job Search" aria-label="Search">
        <br>
        <button class="btn my-2 my-sm-0" style="background-color: #ff7f6a ; color: white;margin-top: 10px!important" type="submit">Search</button>
      </form>
    </div>
  </nav>

      <router-outlet></router-outlet>
      <!-- Routed components go here -->

</div>

</body>
</html>
